/App/EZPay/Output/
/App/EZPay/target/
/App/EZPay/tarlogs/
/App/EZPay/update/
/App/EZPay/logs/
/App/EZPay/data/
/Application/logs/
/Application/lib/
/Core/CoreService/target/
/Core/CoreService/logs/
/Core/CoreService/tarlogs/
/Core/Database/target/
/Core/Database/logs/
/Core/Database/tarlogs/
/Core/EZSystem/target/
/Core/EZSystem/logs/
/Core/EZSystem/tarlogs/
/Service/AuthService/target/
/Service/AuthService/logs/
/Service/AuthService/tarlogs/
/Service/AuthServiceV2/target/
/Service/AuthServiceV2/logs/
/Service/AuthServiceV2/tarlogs/
/Service/CentralServiceV2/target/
/Service/CentralServiceV2/logs/
/Service/CentralServiceV2/tarlogs/
/Service/CentralServiceV2/target/
/Service/CentralServiceV2/logs/
/Service/CentralServiceV2/tarlogs/
/Service/DepositService/target/
/Service/DepositService/logs/
/Service/DepositService/tarlogs/
/Service/GatewayServiceV2/target/
/Service/GatewayServiceV2/logs/
/Service/GatewayServiceV2/tarlogs/
/Service/GatewayService/target/
/Service/GatewayService/logs/
/Service/GatewayService/tarlogs/